.big-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-container{
  /* border: 20px solid rgb(120, 149, 178); */
  padding: 15px;
  box-shadow: 5px 10px 18px #888888;
  border-radius: 20px;
  height: 500px;
  width: 500px;
  background-color: rgb(232, 223, 202);
}

.title{
  text-align: center;
}

.selectors{
  text-align: start;
  margin: 10px;
}

.font-style{
  color: rgb(33, 70, 71);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button{
  margin: 10px;
  background-color: rgb(33, 70, 71);
  color: rgb(245, 239, 230);
  height: 40px;
  width: 100px;
  border-radius: 5px;
  text-align: center;
}

button:hover{
  filter: brightness(.9);
}

.selectors{
  margin-bottom: 0px;
}

select{
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  color: rgb(33, 70, 71);
  background-color: rgb(245, 239, 230);
  margin-bottom: 10px;
}

input{
  background-color: rgb(245, 239, 230);
  color: rgb(33, 70, 71);
  border: none;
  padding: 10px;
  border-radius: 8px;
}

label{
  margin: 10px;
  font-size: large;
}

@media (max-width: 640px) {
  .main-container{
    height: auto;
    width:  250px;
  }
}

h1{
  text-transform: uppercase;
  font-style: italic;
  margin-bottom: 32px;
}
